@using Business_Model.Model;
@model List<Business_Model.Model.ToDoTask>


<ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <li class="list-group-item" data-role="task">
                <div class="custom-control custom-checkbox">
                    <a href="~/ToDo/Add/@item.ToDoTaskID">
                        <label class="custom-control-label @(item.Status == Status.Complete ? "task-done" : "")" for="customCheck">
                            <span>@item.Subject</span>
                            @if (item.Priority == Priority.High)
                            {
                                <span class="badge badge-pill badge-danger float-right">@item.Priority</span>
                            }
                            else if (item.Priority == Priority.Medium)
                            {
                                <span class="badge badge-pill badge-primary  float-right">@item.Priority</span>
                            }
                            else if (item.Priority == Priority.Low)
                            {
                                <span class="badge badge-pill badge-info  float-right">@item.Priority</span>
                            }
                        </label>
                    </a>
                </div>
                <ul class="assignedto">
                    <li><span class="badge badge-pill badge-warning float-right"> StartDate : @(item.StartDate.HasValue ? item.StartDate.Value.ToString("d") : string.Empty) </span> </li>
                    <li><span class="badge badge-pill badge-warning float-right">EndDate : @(item.EndDate.HasValue ? item.EndDate.Value.ToString("d") : string.Empty) </span> </li>
                    <li><span class="badge badge-pill badge-success float-right">Status : @item.Status </span> </li>
                </ul>
            </li>
         
        }
    }
    else
    {
        <li><div class="text-center"><h5>No To Do Found</h5></div> </li>
    }
</ul>
<div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; height: 400px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 236px;"></div></div>
