@model Business_Model.Model.ModuleCourse
@using System.Configuration;
@{
    List<Business_Model.Model.Supplier> SupplierList = ViewBag.BusinessSupplier as List<Business_Model.Model.Supplier>;

}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">

    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">


        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">
        <div class="card ">
            <div class="card-header">
                <h4 class="m-b-0">Overview</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" id="ModuleVideo">
                        <iframe width="100%" height="100%" src="@Model.VideoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <h3 class="card-title">@Model.Title</h3>
                        <p class="card-text">@Model.Duration</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <h3 class="card-title">What we will show you</h3>


                        <div class="col-md-6">

                            @if (Model != null && Model.ModuleCourseOption != null)
                            {

                                foreach (var item in Model.ModuleCourseOption)
                                {
                                    if (@item.Value != null)
                                    {
                                        <p style="margin-bottom: 0rem;">  <i class="far fa-dot-circle"></i>  @item.Value </p>
                                    }
                                }
                            }

                        </div>

                    </div>

                </div>

                @if (SupplierList.Count() > 0)
                {

                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <h3 class="card-title">Build My Unicorn Network</h3>
                            <h5 style="font-size:14px;font-style:italic"><sup><i class="fas fa-quote-left"></i></sup>The BMU network is a collection of trusted suppliers that specialise in working with start-ups <sub><i class="fas fa-quote-right"></i></sub></h5>
                        </div>
                    </div>

                }
                <div class="row">


                    @foreach (var item in SupplierList)
                    {

                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <div class="card card-body">
                                <div class="row align-items-center">
                                    <div class="col-md-12 col-lg-12 text-center">
                                        <a href="~/SurveyProfessional/ProfessionalProfile?SupplierID=@item.SupplierID"><img src="@ConfigurationManager.AppSettings["SupplierBaseUrl"]/Content/Images/@(item.ImageID == null ? "profile-dummy.png" : item.ImageID)" width="90" alt="user" class="img-fluid"></a>
                                    </div>
                                    <div class="col-md-12 col-lg-12 text-center">


                                        <address>
                                            @item.CompanyName
                                        </address>
                                    </div>

                                </div>
                            </div>
                        </div>



                    }


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <h3 class="card-title">Course Section </h3>
                        <div class="col-md-12">
                            <p class="card-text">@Model.Description</p>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <form method="post" action="~/ModuleCourse/GetStarted">
                            <input type="hidden" name="ContollerName" value="@Model.ContollerName" />
                            <input type="hidden" name="ActionName" value="@Model.ActionName" />
                            <input type="hidden" name="ModuleID" value="@Model.ModuleID" />
                            <input type="hidden" name="ModuleSectionID" value="@Model.ModuleSectionID" />
                            <input type="submit" class="btn btn-primary" value="Get Started" />

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScript
{

    <script>
        $(document).ready(function () {
            $("li a, li").removeClass("active");
            $("li ul").removeClass("in");
        });
        $('#ModuleVideo').css("height", $("#ModuleVideo").width() / 2);
    </script>
}