@using System.ComponentModel;
@model Business_Model.Model.OnlinePresance
@{

    var LanguageList = ViewBag.Language as IEnumerable<Business_Model.Model.LanguageModule>;
}

<div class="row" id="validation">
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card wizard-content">
            <div class="card-body">
                <div class="row " style="margin: 0 0px 2px;">
                    <div class="col-md-5 align-self-center">
                        <h4 class="card-title" id="1"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "Marketing", ActionName = "OnlinePresence", ModuleID = (int)Business_Model.Model.Module.Marketing, SectionID = (int)Business_Model.Model.ModuleSection.Marketing_OnlinePresence }, new { @class = "" })
                        </div>
                    </div>
                </div>

                <form id="frmOnlinePresence" method="post" class="validation-wizard wizard-circle">

                    <input type="hidden" id="jsonModel" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
                    <input type="hidden" id="ClientID" name="ClientID" value="@Model.ClientID" />
                    <input type="hidden" id="EntityState" name="EntityState" value="@Model.EntityState" />
                    <input type="hidden" id="OnlinePresenceID" name="OnlinePresenceID" value="@Model.OnlinePresenceID" />
                    <input type="hidden" id="IsRedirect" value='@(Model.OnlinePresenceID == Guid.Empty ? "true" : "false")' />
                    <!-- Step 1 -->
                    <h6>Your Website</h6>
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "HaveRegisteredDomain").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("HaveRegisteredDomain", new SelectList(ViewBag.Choice, "ID", "Value", @Model.YourWebsite.HaveRegisteredDomain), "- Please select -", new { @class = "custom-select col-12 jsOptionChange", @data_optionchange = "DomainName" })

                                </div>
                                <div class='form-group DomainName @(Model.YourWebsite.HaveRegisteredDomain.ToString() == "7f5d70c1-5e5b-4411-a05c-224976e6feff" ? "" : "hide")'>
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "DomainName").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control ideatextarea' id="DomainName" name="DomainName">@Model.YourWebsite.DomainName</textarea>



                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "WebPageStageID").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("WebPageStageID", new SelectList(ViewBag.StageList, "ID", "Value", @Model.YourWebsite.WebPageStageID), "- Please select -", new { @class = "custom-select col-12" })

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "WantWebsiteAchieveID").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("WantWebsiteAchieveID", new SelectList(ViewBag.AchieveList, "ID", "Value", @Model.YourWebsite.WantWebsiteAchieveID), "- Please select -", new { @class = "custom-select col-12" })

                                    @*<textarea class='form-control form-control-line ideatextarea' id="WantWebsiteAchieveID" name="WantWebsiteAchieveID">@Model.YourWebsite.WantWebsiteAchieveID</textarea>*@


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ContentWebsiteCreatorID").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("ContentWebsiteCreatorID", new SelectList(ViewBag.ContentList, "ID", "Value", @Model.YourWebsite.ContentWebsiteCreatorID), "- Please select -", new { @class = "custom-select col-12" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "VisitorsAccomplish").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control form-control-line ideatextarea' id="VisitorsAccomplish" name="VisitorsAccomplish">@Model.YourWebsite.VisitorsAccomplish</textarea>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "CTA").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control form-control-line ideatextarea' id="CTA" name="CTA">@Model.YourWebsite.CTA</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "TrafficAnticipatePerMonthID").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("TrafficAnticipatePerMonthID", new SelectList(ViewBag.TrafficList, "ID", "Value", @Model.YourWebsite.TrafficAnticipatePerMonthID), "- Please select -", new { @class = "custom-select col-12" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">Which functions or features are necessary to have versus nice to have</label>
                                </div>
                            </div>
                            @{
                                var Featurelist = ViewBag.FeatureStatusList as IEnumerable<Business_Model.Model.MultipleMaster>;
                            }
                            @foreach (var Item in @ViewBag.FunctionNecessary)
                            {


                                if (Featurelist != null && Featurelist.Any(x => x.Value2 == Convert.ToString(Item.ID)))
                                {
                                    <div class="col-md-4" style="margin-bottom:25px">
                                        <div class="custom-control custom-checkbox jsCustomswitchery jsFeatureStatusContainer">
                                            <input type="checkbox" class="custom-control-input jsFeatureID" id="@Item.ID" name="_FeatureStatus" value="@Item.ID" checked>
                                            <label class="custom-control-label" for="@Item.ID"> @Item.Value</label>
                                            <input type="checkbox" class="js-switch jsFeatureStatus" data-color="#03a9f3" data-size="small" @(Featurelist.Where(x => x.Value2 == Convert.ToString(Item.ID)).Select(y => y.Value3).FirstOrDefault() == "Checked" ? "checked" : "" ) />
                                        </div>
                                        <div>
                                            <div class="switchery-demo">

                                            </div>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-4" style="margin-bottom:25px">
                                        <div class="custom-control custom-checkbox jsCustomswitchery jsFeatureStatusContainer">
                                            <input type="checkbox" class="custom-control-input jsFeatureID" id="@Item.ID" name="_FeatureStatus" value="@Item.ID">
                                            <label class="custom-control-label" for="@Item.ID"> @Item.Value</label>
                                            <input type="checkbox" class="js-switch jsFeatureStatus" data-color="#03a9f3" data-size="small" />
                                        </div>
                                        <div>
                                            <div class="switchery-demo">

                                            </div>
                                        </div>

                                    </div>
                                }

                            }


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "UseDomainEmail").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("UseDomainEmail", new SelectList(ViewBag.Choice, "ID", "Value", @Model.YourWebsite.UseDomainEmail), "- Please select -", new { @class = "custom-select col-12 " })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "WebsitePlanMakeMoney").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("WebsitePlanMakeMoney", new SelectList(ViewBag.Choice, "ID", "Value", @Model.YourWebsite.WebsitePlanMakeMoney), "- Please select -", new { @class = "custom-select col-12 " })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "SuccessMeasure").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control form-control-line ideatextarea' id="SuccessMeasure" name="SuccessMeasure">@Model.YourWebsite.SuccessMeasure</textarea>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PutWebpageAdds").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("PutWebpageAdds", new SelectList(ViewBag.Choice, "ID", "Value", @Model.YourWebsite.PutWebpageAdds), "- Please select -", new { @class = "custom-select col-12 " })

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "CompetitorSitelike").FirstOrDefault().QuestionText : "" ) </label>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <textarea class='form-control form-control-line ideatextarea' id="CompetitorSitelike" name="CompetitorSitelike" placeholder="Like">@Model.YourWebsite.CompetitorSitelike</textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea class='form-control form-control-line ideatextarea ' id="CompetitorSitedislike" name="CompetitorSitedislike" placeholder="Dislike">@Model.YourWebsite.CompetitorSitedislike</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </section>
                    <h6>Operations</h6>
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "Facebook").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control ideatextarea' id="Facebook" name="Facebook">@Model.SocialHandles.Facebook</textarea>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "Twitter").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control ideatextarea' id="Twitter" name="Twitter">@Model.SocialHandles.Twitter</textarea>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "Youtube").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control ideatextarea' id="Youtube" name="Youtube">@Model.SocialHandles.Youtube</textarea>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "Instagram").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control ideatextarea' id="Instagram" name="Instagram">@Model.SocialHandles.Instagram</textarea>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "TicTok").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control ideatextarea' id="TicTok" name="TicTok">@Model.SocialHandles.TicTok</textarea>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "Linkedin").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control ideatextarea' id="Linkedin" name="Linkedin">@Model.SocialHandles.Linkedin</textarea>

                                </div>
                            </div>

                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>

</div>









