
@section PageStyle
{
    <link href="~/assets/node_modules/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/assets/node_modules/kendoui/styles/kendo.flat.min.css" rel="stylesheet" />
    <link href="~/assets/node_modules/kendoui/styles/kendo.flat.mobile.min.css" rel="stylesheet" />
    <link href="~/assets/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />


}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Manage Grants</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Manage Grants </li>
                </ol>

                <button type="button" data-toggle="modal" data-target="#NewModel" class="btn btn-info d-none d-lg-block m-l-15 JsUpdateIdea"> Add New </button>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs profile-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#Grant" role="tab" aria-selected="true">Grants</a> </li>
            <li class="nav-item"> <a class="nav-link jsGrantLog" data-toggle="tab" href="#GrantsLog" role="tab" aria-selected="false">Grants Log</a> </li>

        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="Grant" role="tabpanel">
                <div class="card-body">
             

                    <div id="Grid"></div>
                </div>
            </div>
            <!--second tab-->
            <div class="tab-pane" id="GrantsLog" role="tabpanel">
                <div class="card-body">

                    <div id="GridLog">

                    </div>
                </div>
            </div>

        </div>
    </div>










<div id="NewModel" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="NewForm" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Grant</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Name:</label>
                                <input type="text" class="form-control" name="Name" data-parsley-required="true" data-parsley-required-message="Please Enter Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Country:</label>
                                <select class="form-control custom-select" id="CountryID" name="CountryID" data-parsley-required="true" data-parsley-required-message="Please enter country"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Type:</label>
                                <input type="text" class="form-control" name="Type" />
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Website:</label>
                                <input type="text" class="form-control" name="Website" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" class="jsNewSupplierID" name="SupplierID" />
                                <label for="recipient-name" class="control-label">Assign Supplier:</label>
                                <select id="_SupplierID" name="_SupplierID" class="selectpicker form-control" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                    @foreach (var item in ViewBag.SupplierList)
                                    {
                                        <option value="@item.SupplierID" selected="selected">@item.FirstName @item.LastName</option>
                                    }
                                </select>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Provide By:</label>
                                <input type="text" class="form-control" name="ProvidedBy" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Video:</label>
                                <input type="text" class="form-control" name="VideoUrl" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">DueDate:</label>
                                <input name="DueDate" class="form-control" type="date" required data-parsley-required="true" data-parsley-required-message="Please Select Date" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Description:</label>
                            <textarea class='form-control ideatextarea form-control-line progress-required' name="Description"> </textarea>
                        </div>
                    </div>






                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger waves-effect waves-light">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="UpdateModel" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="UpdateForm" method="post">
                <input type="hidden" id="GrantID" name="GrantID" />
                <div class="modal-header">
                    <h4 class="modal-title">Update  Grant</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Name:</label>
                                <input type="text" class="form-control" id="Name" name="Name" data-parsley-required="true" data-parsley-required-message="Please Enter Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Country:</label>
                                <select class="form-control custom-select" id="EditCountryID" name="CountryID" data-parsley-required="true" data-parsley-required-message="Please enter country"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Type:</label>
                                <input type="text" class="form-control" id="Type" name="Type" />
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Website:</label>
                                <input type="text" class="form-control" name="Website" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Provide By:</label>
                                <input type="text" class="form-control" id="ProvidedBy" name="ProvidedBy" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" class="jsEditSupplierID" name="SupplierID" />
                                <label for="recipient-name" class="control-label">Assign Supplier:</label>
                                <select id="_EditSupplierID" name="_SupplierID" class="selectpicker form-control" multiple data-style="form-control btn-secondary" data-dropup-auto="false">

                                    @foreach (var item in ViewBag.SupplierList)
                                    {
                                        <option value="@item.SupplierID">@item.FirstName @item.LastName</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Video:</label>
                                <input type="text" class="form-control" id="VideoUrl" name="VideoUrl" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">DueDate:</label>
                                <input id="DueDate" name="DueDate" class="form-control" type="date"  required data-parsley-required="true" data-parsley-required-message="Please Select Date" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Description:</label>
                            <textarea class='form-control ideatextarea form-control-line progress-required' id="Description" name="Description"> </textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger waves-effect waves-light">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section PageScript
{
    <script src="~/assets/node_modules/kendoui/js/kendo.all.min.js"></script>
    <script src="~/assets/node_modules/kendoui/js/jszip.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="~/assets/node_modules/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Content/page_script/grant.js?version=@DateTime.Now"></script>
}
