
@model Business_Model.Model.OnlineResearch
@{

    var LanguageList = ViewBag.Language as IEnumerable<Business_Model.Model.LanguageModule>;
    var QuestionList = ViewBag.ModuleQustionVideo as IEnumerable<Business_Model.Model.QuestionVideo>;


}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body wizard-content">
                <div class="row " style="margin: 0 0px 2px;">
                    <div class="col-md-5 align-self-center">
                        <h4 class="card-title" id="1"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "MarketResearch", ActionName = "OnlineResearch", ModuleID = (int)Business_Model.Model.Module.MarketResearch, SectionID = (int)Business_Model.Model.ModuleSection.MarketResearch_OnlineResearch }, new { @class = "" })
                        </div>
                    </div>
                </div>

                <form id="frm_KeyFinding" class="tab-wizard wizard-circle patch">
                    <input type="hidden" id="jsIdea" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
                    <input type="hidden" id="OnlineResearchID" name="OnlineResearchID" value="@Model.OnlineResearchID" />
                    <input type="hidden" id="EntityState" name="EntityState" value="@Model.EntityState" />
                    <input type="hidden" id="IsRedirect" value='@(Model.OnlineResearchID == Guid.Empty ? "true" : "false")' />
                    <input type="hidden" id="ClientID" name="ClientID" value="@Model.ClientID" />
                    <!-- Step 1 -->
                    <h6>
                        Big Picture Research
                    </h6>
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1"> What 3 bits of research have been carried out? </label>


                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ResearchCarriedOutBit1").FirstOrDefault().QuestionText : "" )
                                        @{
                                            string VideoUrl = QuestionList.Where(x => x.PropertyName == "ResearchCarriedOutBit1").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <textarea class='form-control ideatextarea progress-required @( Model.BigPictureResearch.ResearchCarriedOutBit1 != null ? "progress-percent" : "")' id="ResearchCarriedOutBit1" name="ResearchCarriedOutBit1" oninput="auto_grow_idea_textarea(this)">@Model.BigPictureResearch.ResearchCarriedOutBit1</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ResearchCarriedOutBit2").FirstOrDefault().QuestionText : "" )
                                        @{
                                             VideoUrl = QuestionList.Where(x => x.PropertyName == "ResearchCarriedOutBit2").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <textarea class='form-control ideatextarea progress-required @( Model.BigPictureResearch.ResearchCarriedOutBit2 != null ? "progress-percent" : "")' id="ResearchCarriedOutBit2" name="ResearchCarriedOutBit2" oninput="auto_grow_idea_textarea(this)">@Model.BigPictureResearch.ResearchCarriedOutBit2</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ResearchCarriedOutBit3").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "ResearchCarriedOutBit3").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }
                                    </label> <br />

                                    <textarea class='form-control ideatextarea progress-required @( Model.BigPictureResearch.ResearchCarriedOutBit3 != null ? "progress-percent" : "")' id="ResearchCarriedOutBit3" name="ResearchCarriedOutBit3" oninput="auto_grow_idea_textarea(this)">@Model.BigPictureResearch.ResearchCarriedOutBit3</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "IndustryTrends").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "IndustryTrends").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <textarea class='form-control ideatextarea progress-required @( Model.BigPictureResearch.IndustryTrends != null ? "progress-percent" : "")' id="IndustryTrends" name="IndustryTrends" oninput="auto_grow_idea_textarea(this)">@Model.BigPictureResearch.IndustryTrends</textarea>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "CaptureInitially").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "CaptureInitially").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }
                                    </label> <br />
                                    <textarea class='form-control ideatextarea progress-required @( Model.BigPictureResearch.CaptureInitially != null ? "progress-percent" : "")' id="CaptureInitially" name="CaptureInitially" oninput="auto_grow_idea_textarea(this)">@Model.BigPictureResearch.CaptureInitially</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "MarketSize").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "CaptureInitially").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <input type="text" class="form-control  progress-required jsCurrency" id="MarketSize" name="MarketSize" value="@(Model.BigPictureResearch.MarketSize == 0 ? "" : Model.BigPictureResearch.MarketSize.ToString())">



                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "CaptureShare").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "CaptureShare").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <input id="CaptureShare" type="text" name="CaptureShare" class="form-control  progress-required text-right" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline" value="@((Convert.ToInt32(Model.BigPictureResearch.CaptureShare) == 0) ? "" : Convert.ToInt32(Model.BigPictureResearch.CaptureShare).ToString())">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "MarketShare").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "MarketShare").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <input id="MarketShare" type="text" name="MarketShare" class="form-control  progress-required jsCurrency" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline" value="@(Model.BigPictureResearch.MarketShare == 0 ? "" : Model.BigPictureResearch.MarketShare.ToString())">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-5">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "MarketShareCaptureDuration").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "MarketShareCaptureDuration").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <input id="MarketShareCaptureDuration" type="text" name="MarketShareCaptureDuration" class="form-control  progress-required jsYear" value="@Model.BigPictureResearch.MarketShareCaptureDuration">
                                </div>
                            </div>
                            <div class="col-md-7 jsKeyPlayerContainer">


                                <label for="wint1">Who are the Key players in the market?<br /> <br /></label>
                                @if (ViewBag.MarketKeyPlayer.Count > 0)
                                {
                                    int i = 0;
                                    foreach (var item in ViewBag.MarketKeyPlayer)
                                    {
                                        if (i == 0)
                                        {
                                            i = i + 1;
                                            <div class="row jsKeyMarketPlayer">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control jsCompanyName progress-required" placeholder="Company" value="@item.Company">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control jsWebsite progress-required" placeholder="Website" value="@item.Website">
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="input-group mb-3">

                                                        <div class="input-group-append">
                                                            <button class="btn btn-secondary btn-outline bootstrap-touchspin-up jsAddKeyPlayer" type="button">+</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        }
                                        else
                                        {
                                            <div class="row jsKeyMarketPlayer">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control jsCompanyName progress-required" placeholder="Company" value="@item.Company">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control jsWebsite progress-required" placeholder="Website" value="@item.Website">
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="input-group mb-3">

                                                        <div class="input-group-append">
                                                            <button class="btn btn-secondary btn-outline bootstrap-touchspin-up jsRemoveKeyPlayer" type="button">-</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="row jsKeyMarketPlayer">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control jsCompanyName progress-required" placeholder="Company">
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <input type="text" class="form-control jsWebsite progress-required" placeholder="Website">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="input-group mb-3">

                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary btn-outline bootstrap-touchspin-up jsAddKeyPlayer" type="button">+</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }



                            </div>

                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>
                        Focused Research
                    </h6>
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @{ var arrayIdeaProgressed = String.IsNullOrEmpty(@Model.FocussedResearch.IdeaProgressed) == false ? @Model.FocussedResearch.IdeaProgressed.Split(',').ToArray() : new string[0]; }

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "IdeaProgressed").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "IdeaProgressed").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <input type="hidden" id="IdeaProgressed" name="IdeaProgressed" class='progress-required @( arrayIdeaProgressed.Length > 0 ? "progress-percent" : "")' value="" />
                                    @foreach (var item in ViewBag.IdeaProgressed)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@item.ID" name="_IdeaProgressed" value="@item.ID" @(Array.Exists(arrayIdeaProgressed, x => x == Convert.ToString(item.ID)) == true ? "checked=Checked" : "")>
                                            <label class="custom-control-label" for="@item.ID">@item.Value</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @{ var arrayFeedbackReceived = String.IsNullOrEmpty(@Model.FocussedResearch.FeedbackReceived) == false ? @Model.FocussedResearch.FeedbackReceived.Split(',').ToArray() : new string[0]; }

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "FeedbackReceived").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "FeedbackReceived").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <input type="hidden" id="FeedbackReceived" name="FeedbackReceived" class='progress-required @( arrayFeedbackReceived.Length > 0 ? "progress-percent" : "")' value="" />
                                    @foreach (var item in ViewBag.FeedbackReceived)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@item.ID" name="_FeedbackReceived" value="@item.ID" @(Array.Exists(arrayFeedbackReceived, x => x == Convert.ToString(item.ID)) == true ? "checked=Checked" : "")>
                                            <label class="custom-control-label" for="@item.ID">@item.Value</label>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "CustomerFeedback").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "CustomerFeedback").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }
                                    </label> <br />

                                    @Html.DropDownListFor(n => n.FocussedResearch.CustomerFeedback, new SelectList(ViewBag.CustomerFeedback, "ID", "Value", @Model.FocussedResearch.CustomerFeedback), "- Please select -", new { @class = "custom-select col-12  progress-required" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "FeedbackRate").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "FeedbackRate").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    @{ var FeedbackRate = Model.FocussedResearch.FeedbackRate != null ? "progress-percent" : ""; }
                                    @Html.DropDownListFor(n => n.FocussedResearch.FeedbackRate, new SelectList(ViewBag.FeedbackRate, "ID", "Value", @Model.FocussedResearch.FeedbackRate), "- Please select -", new { @class = "custom-select col-12 " + @FeedbackRate + " progress-required" })

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "FeedbackKeyfinding").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "FeedbackKeyfinding").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label> <br />

                                    <input type="text" class="form-control  progress-required " id="FeedbackKeyfinding" name="FeedbackKeyfinding" value="@Model.FocussedResearch.FeedbackKeyfinding" />

                                </div>
                            </div>
                        </div>
                    </section>

                </form>
            </div>
        </div>
    </div>
</div>

