
@using System.ComponentModel;
@model Business_Model.Model.KeyFinding
@{

    var LanguageList = ViewBag.Language as IEnumerable<Business_Model.Model.LanguageModule>;
}


<div class="row" id="validation">
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card wizard-content">
            <div class="card-body">
                <div class="row " style="margin: 0 0px 2px;">
                    <div class="col-md-5 align-self-center">
                        <h4 class="card-title" id="1"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "MarketResearch", ActionName = "KeyFinding", ModuleID = (int)Business_Model.Model.Module.MarketResearch, SectionID = (int)Business_Model.Model.ModuleSection.MarketResearch_KeyFindings }, new { @class = "" })
                        </div>
                    </div>
                </div>
                <form id="frmKeyFinding" method="post" class="validation-wizard wizard-circle">

                    <input type="hidden" id="jsonModel" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
                    <input type="hidden" id="ClientID" name="ClientID" value="@Model.ClientID" />
                    <input type="hidden" id="EntityState" name="EntityState" value="@Model.EntityState" />
                    <input type="hidden" id="KeyFindingID" name="KeyFindingID" value="@Model.KeyFindingID" />
                    <input type="hidden" id="IsRedirect" value='@(Model.KeyFindingID == Guid.Empty ? "true" : "false")' />
                    <!-- Step 1 -->
                    <h6>Market Research Results </h6>
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "InterviewKeyFinding").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control form-control-line ideatextarea' id="InterviewKeyFinding" name="InterviewKeyFinding">@Model.MarketResearchResults.InterviewKeyFinding</textarea>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "InterviewKeyFindingConfident").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("InterviewKeyFindingConfident", new SelectList(ViewBag.InterviewKeyFinding, "ID", "Value", @Model.MarketResearchResults.InterviewKeyFindingConfident), "- Please select -", new { @class = "custom-select col-12" })


                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ObservationKeyFinding").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control form-control-line ideatextarea' id="ObservationKeyFinding" name="ObservationKeyFinding">@Model.MarketResearchResults.ObservationKeyFinding</textarea>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ObservationKeyFindingConfident").FirstOrDefault().QuestionText : "" ) </label>

                                    @Html.DropDownList("ObservationKeyFindingConfident", new SelectList(ViewBag.ObservationKeyFinding, "ID", "Value", @Model.MarketResearchResults.ObservationKeyFindingConfident), "- Please select -", new { @class = "custom-select col-12" })
                                </div>
                                @*<input type="hidden" id="ObservationKeyFindingConfident" name="ObservationKeyFindingConfident" value="@Model.MarketResearchResults.ObservationKeyFindingConfident" />
                    <div id="jsObservationKeyFindingConfident"></div>*@
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "SurveyKeyFinding").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control form-control-line ideatextarea' id="SurveyKeyFinding" name="SurveyKeyFinding">@Model.MarketResearchResults.SurveyKeyFinding</textarea>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "SurveyKeyFindingConfident").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("SurveyKeyFindingConfident", new SelectList(ViewBag.SurveyKeyFinding, "ID", "Value", @Model.MarketResearchResults.SurveyKeyFindingConfident), "- Please select -", new { @class = "custom-select col-12" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "OnlineResearchKeyFinding").FirstOrDefault().QuestionText : "" ) </label>
                                    <textarea class='form-control form-control-line ideatextarea' id="OnlineResearchKeyFinding" name="OnlineResearchKeyFinding">@Model.MarketResearchResults.OnlineResearchKeyFinding</textarea>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "OnlineResearchKeyFindingConfident").FirstOrDefault().QuestionText : "" ) </label>
                                    @Html.DropDownList("OnlineResearchKeyFindingConfident", new SelectList(ViewBag.OnlineResearchKeyFinding, "ID", "Value", @Model.MarketResearchResults.OnlineResearchKeyFindingConfident), "- Please select -", new { @class = "custom-select col-12" })

                                </div>
                            </div>

                        </div>

                    </section>


                </form>
            </div>
        </div>
    </div>

</div>








