@using Business_Model.Model;
@using System.ComponentModel;
@model Business_Model.Model.Business
<div class="row" id="validation">
    <div class="col-9">
        <div class="card wizard-content">
            <div class="card-body">
              
                <div id="markupContainer">
                </div>
                <form id="IdeaForm" method="post" class="validation-wizard wizard-circle">
                    <input type="hidden" id="jsIdea" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
                    @*<input type = "hidden" id="ActionType" value="@ViewBag.ActionType" />*@
                    <input type="hidden" id="IdeaID" name="IdeaID" value="@Model.BusinessID" />
                    @*<input type="hidden" id="ProgressValue" name="ProgressValue" value="@Model.ProgressValue" />*@
                    <!-- Step 1 -->
                    <h6>The Idea</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">  @ViewBag.DisplayFounder["IdeaComeup"]  </label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.Founder.IdeaComeup != null ? "progress-percent" : "")' id="IdeaComeup" name="IdeaComeup" oninput="auto_grow_idea_textarea(this)">@Model.Founder.IdeaComeup</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1"> @ViewBag.DisplayFounder["IdeaComeup"] </label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.Founder.BusinessRun != null ? "progress-percent" : "")' id="BusinessRun" name="BusinessRun" oninput="auto_grow_idea_textarea(this)">@Model.Founder.BusinessRun</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.Founder.PreviousWorkExperience != null ? "progress-percent" : "")' id="PreviousWorkExperience" name="PreviousWorkExperience" oninput="auto_grow_idea_textarea(this)">@Model.Founder.PreviousWorkExperience</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.Founder.Qualification != null ? "progress-percent" : "")' id="Qualification" name="Qualification" oninput="auto_grow_idea_textarea(this)">@Model.Founder.Qualification</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.Founder.HobbiesInterest != null ? "progress-percent" : "")' id="HobbiesInterest" name="HobbiesInterest" oninput="auto_grow_idea_textarea(this)">@Model.Founder.HobbiesInterest</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.Founder.WhyYou != null ? "progress-percent" : "")' id="WhyYou" name="WhyYou" oninput="auto_grow_idea_textarea(this)">@Model.Founder.WhyYou</textarea>
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>Lets break down the idea</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.CompanyDetails.CompanyRegisteredName != null ? "progress-percent" : "")' id="WhyYou" name="WhyYou" oninput="auto_grow_idea_textarea(this)">@Model.CompanyDetails.CompanyRegisteredName</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.CompanyDetails.CompanyNumber != null ? "progress-percent" : "")' id="WhyYou" name="WhyYou" oninput="auto_grow_idea_textarea(this)">@Model.CompanyDetails.CompanyNumber</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.CompanyDetails.BusinessAddress != null ? "progress-percent" : "")' id="WhyYou" name="WhyYou" oninput="auto_grow_idea_textarea(this)">@Model.CompanyDetails.BusinessAddress</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.CompanyDetails.VatNumber != null ? "progress-percent" : "")' id="WhyYou" name="WhyYou" oninput="auto_grow_idea_textarea(this)">@Model.CompanyDetails.VatNumber</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayFounder["IdeaComeup"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.CompanyDetails.NumberofFounder > 0 ? "progress-percent" : "")' id="WhyYou" name="WhyYou" oninput="auto_grow_idea_textarea(this)">@Model.CompanyDetails.NumberofFounder</textarea>
                                </div>
                            </div>

                        </div>

                    </section>

                </form>
            </div>
            </div>
        </div>

    <div class="col-md-3">



            <div class="thumbnail" data-toggle="modal" data-target="#myModal" style="position:relative;">

                <img src="https://img.youtube.com/vi/b6hHqc0jpjo/0.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                <div class="caption">
                    <p class="youtube-icon"><i class="fab fa-youtube"></i></p>
                </div>

            </div>
        </div>

    </div>

    <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Starting a start up: How to start</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/b6hHqc0jpjo?autoplay=1" auto frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


