@*@using Business_Model.Model;*@
@using System.ComponentModel;
@model Business_Model.Model.BusinessOperation

@{
    var LanguageList = ViewBag.Language as IEnumerable<Business_Model.Model.LanguageModule>;
    var JsonObject = string.Empty;
    List<string> objList = new List<string>();
    var ModelList = ViewBag.OperationPartyList as IEnumerable<Business_Model.Model.MultipleMaster>;
    if (ModelList != null && ModelList.Count() > 0)
    {
        objList = ModelList.Where(x => x.Value1 != null && x.Value2 != null).Select(x => x.Value1).Distinct().ToList();
        JsonObject = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ModelList.Where(x => x.Value1 != null && x.Value2 != null).Select(i => new { i.Value1, i.Value2, i.Value3, i.Value4 }))).ToString();
    }

}

<div class="row" id="validation">
    <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card wizard-content">
            <div class="card-body">
                <div class="row " style="margin: 0 0px 2px;">
                    <div class="col-md-5 align-self-center">
                        <h4 class="card-title" id="1"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "Business", ActionName = "BusinessOperation", ModuleID = (int)Business_Model.Model.Module.TheBusiness, SectionID = (int)Business_Model.Model.ModuleSection.TheBusiness_BusinessOperation }, new { @class = "" })
                        </div>
                    </div>
                </div>
                <form id="frmBusinessOperation" method="post" class="validation-wizard wizard-circle patch">

                    <input type="hidden" id="jsonModel" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
                    <input type="hidden" id="JsonpartyType" value='@JsonObject' />
                    <input type="hidden" id="ClientID" name="ClientID" value="@Model.ClientID" />
                    <input type="hidden" id="EntityState" name="EntityState" value="@Model.EntityState" />
                    <input type="hidden" id="IsRedirect" value='@(Model.BusinessOperationID == Guid.Empty ? "true" : "false")' />
                    <input type="hidden" id="BusinessOperationID" name="BusinessOperationID" value="@Model.BusinessOperationID" />
                    <!-- Step 1 -->
                    <h6>Who Does what</h6>
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "FinanceOperationalResponsible").FirstOrDefault().QuestionText : "" )  </label>
                                    @{ var arrayFinanceOperationalResponsible = String.IsNullOrEmpty(@Model.WhoDoesWhat.FinanceOperationalResponsible) == false ? @Model.WhoDoesWhat.FinanceOperationalResponsible.Split(',').ToArray() : new string[0]; }
                                    <select id="FinanceOperationalResponsible" name="FinanceOperationalResponsible" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.TeamMemberList)
                                        {
                                            <option value="@item.ClientID" @(Array.Exists(arrayFinanceOperationalResponsible, x => x == Convert.ToString(item.ClientID)) == true ? "selected" : "")>@item.FirstName</option>
                                        }

                                    </select>


                                </div>



                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "FinanceManagementResponsible").FirstOrDefault().QuestionText : "" )  </label>
                                    @{ var arrayFinanceManagementResponsible = String.IsNullOrEmpty(@Model.WhoDoesWhat.FinanceManagementResponsible) == false ? @Model.WhoDoesWhat.FinanceManagementResponsible.Split(',').ToArray() : new string[0]; }
                                    <select id="FinanceManagementResponsible" name="FinanceManagementResponsible" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.TeamMemberList)
                                        {
                                            <option value="@item.ClientID" @(Array.Exists(arrayFinanceManagementResponsible, x => x == Convert.ToString(item.ClientID)) == true ? "selected" : "")>@item.FirstName</option>
                                        }

                                    </select>




                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "LegalMatterResponsible").FirstOrDefault().QuestionText : "" )  </label>
                                    @{ var arrayLegalMatterResponsible = String.IsNullOrEmpty(@Model.WhoDoesWhat.LegalMatterResponsible) == false ? @Model.WhoDoesWhat.LegalMatterResponsible.Split(',').ToArray() : new string[0]; }
                                    <select id="LegalMatterResponsible" name="LegalMatterResponsible" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.TeamMemberList)
                                        {
                                            <option value="@item.ClientID" @(Array.Exists(arrayLegalMatterResponsible, x => x == Convert.ToString(item.ClientID)) == true ? "selected" : "")>@item.FirstName</option>
                                        }

                                    </select>


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "HRresponsible").FirstOrDefault().QuestionText : "" )  </label>
                                    @{ var arrayHRresponsible = String.IsNullOrEmpty(@Model.WhoDoesWhat.HRresponsible) == false ? @Model.WhoDoesWhat.HRresponsible.Split(',').ToArray() : new string[0]; }
                                    <select id="HRresponsible" name="HRresponsible" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.TeamMemberList)
                                        {
                                            <option value="@item.ClientID" @(Array.Exists(arrayHRresponsible, x => x == Convert.ToString(item.ClientID)) == true ? "selected" : "")>@item.FirstName</option>
                                        }

                                    </select>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "FacilitiesResponsible").FirstOrDefault().QuestionText : "" )  </label>
                                    @{ var arrayFacilitiesResponsible = String.IsNullOrEmpty(@Model.WhoDoesWhat.FacilitiesResponsible) == false ? @Model.WhoDoesWhat.FacilitiesResponsible.Split(',').ToArray() : new string[0]; }
                                    <select id="FacilitiesResponsible" name="FacilitiesResponsible" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.TeamMemberList)
                                        {
                                            <option value="@item.ClientID" @(Array.Exists(arrayFacilitiesResponsible, x => x == Convert.ToString(item.ClientID)) == true ? "selected" : "")>@item.FirstName</option>
                                        }

                                    </select>



                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "SalesResponsible").FirstOrDefault().QuestionText : "" )  </label>
                                    @{ var arraySalesResponsible = String.IsNullOrEmpty(@Model.WhoDoesWhat.SalesResponsible) == false ? @Model.WhoDoesWhat.SalesResponsible.Split(',').ToArray() : new string[0]; }
                                    <select id="SalesResponsible" name="SalesResponsible" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.TeamMemberList)
                                        {
                                            <option value="@item.ClientID" @(Array.Exists(arraySalesResponsible, x => x == Convert.ToString(item.ClientID)) == true ? "selected" : "")>@item.FirstName</option>
                                        }

                                    </select>





                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "MarektingResponsible").FirstOrDefault().QuestionText : "" )  </label>

                                    @{ var arrayMarektingResponsible = String.IsNullOrEmpty(@Model.WhoDoesWhat.MarektingResponsible) == false ? @Model.WhoDoesWhat.MarektingResponsible.Split(',').ToArray() : new string[0]; }
                                    <select id="MarektingResponsible" name="MarektingResponsible" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.TeamMemberList)
                                        {
                                            <option value="@item.ClientID" @(Array.Exists(arrayMarektingResponsible, x => x == Convert.ToString(item.ClientID)) == true ? "selected" : "")>@item.FirstName</option>
                                        }

                                    </select>



                                </div>
                            </div>

                        </div>

                    </section>
                    <!-- Step 2 -->
                    <h6>Operations</h6>
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ProductProduced").FirstOrDefault().QuestionText : "" )  </label>
                                    <textarea class='form-control ideatextarea' id="ProductProduced" name="ProductProduced" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ProductProduced").FirstOrDefault().PlaceHolderText : "" ) ">@Model.Operations.ProductProduced</textarea>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "DeliveryMethodID").FirstOrDefault().QuestionText : "" )  </label>
                                    @Html.DropDownList("DeliveryMethodID", new SelectList(ViewBag.DeliveryMethod, "ID", "Value", @Model.Operations.DeliveryMethodID), "- Please select -", new { @class = "custom-select col-12" })

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "ThirdPartyInvovedID").FirstOrDefault().QuestionText : "" )  </label>
                                    <button class="btn btn-primary pull-right text-right" style="float:right">Add</button>
                                    <br />
                                </div>

                            </div>
                            <div class="row jsCloneElement jsOperationInvolvedParty" style="margin-right:0px;margin-left:0px; width:100%; display:none">
                                <input type="hidden" class="jsCounter" />
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.DropDownList("ThirdPartyInvovedID", new SelectList(ViewBag.ThirdPartiesInvloved, "ID", "Value", @Model.Operations.ThirdPartyInvovedID), "- Please select -", new { @class = "custom-select col-12 jsThirdPartyType" })

                                    </div>
                                </div>
                                <div class="col-md-8 JSfancyme-tags" style="padding-bottom:4px">
                                    <div class="form-group">

                                        <div class="tagfield black fancyme-tags input-group-append">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                            </div>


                                        </div>
                                        <div class=" black fancyme-tags">
                                            <input type="hidden" name="ThirdPartyInvolvedID" class="jslistThirdPartyInvolvedID" />
                                            <div class="shownlist"></div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <div class="row jsCloneContainer">
                            @if (ModelList == null || ModelList.Count() == 0)
                            {
                                <div class="row jsOperationInvolvedParty" style="margin-right:0px;margin-left:0px; width:100%">
                                    <input type="hidden" class="jsCounter" value="1" />
                                    <div class="col-md-4">
                                        <div class="form-group">

                                            @Html.DropDownList("ThirdPartyInvolvedID", new SelectList(ViewBag.ThirdPartiesInvloved, "ID", "Value", @Model.Operations.ThirdPartyInvovedID), "- Please select -", new { @class = "custom-select col-12 jsThirdPartyType" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 JSfancyme-tags" style="padding-bottom:4px">
                                        <div class="form-group">

                                            <div class="tagfield black fancyme-tags input-group-append">
                                                <input type="text" class="form-control">
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                                </div>


                                            </div>
                                            <div class="black fancyme-tags">
                                                <input type="hidden" name="ThirdPartyInvolvedID" class="jslistThirdPartyInvolvedID" />
                                                <div class="shownlist"></div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {


                                foreach (var item in objList)
                                {
                                    var itemList = ModelList.Where(x => x.Value1 == item);

                                    <div class="row jsOperationInvolvedParty" style="margin-right:0px;margin-left:0px; width:100%">
                                        <input type="hidden" class="jsCounter" value="@itemList.FirstOrDefault().Value4" />
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                @Html.DropDownList("ThirdPartyInvolvedID", new SelectList(ViewBag.ThirdPartiesInvloved, "ID", "Value", item), "- Please select -", new { @class = "custom-select col-12 jsThirdPartyType" })
                                            </div>
                                        </div>
                                        <div class="col-md-8 JSfancyme-tags" style="padding-bottom:4px">
                                            <div class="form-group">

                                                <div class="tagfield black fancyme-tags input-group-append">
                                                    <input type="text" class="form-control">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                                    </div>


                                                </div>
                                                <div class="black fancyme-tags">
                                                    <input type="hidden" name="ThirdPartyInvolvedID" class="jslistThirdPartyInvolvedID" />
                                                    <div class="shownlist">
                                                        @foreach (var obj in itemList)
                                                        {
                                                            <span> <input type="hidden" class="jsRandomNumber" value="@obj.Value3">@obj.Value2 | <a href="#">x</a></span>
                                                        }
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PaymentMethodID").FirstOrDefault().QuestionText : "" )  </label>
                                    @Html.DropDownList("PaymentMethodID", new SelectList(ViewBag.PaymentMethod, "ID", "Value", @Model.Operations.PaymentMethodID), "- Please select -", new { @class = "custom-select col-12" })

                                </div>
                            </div>

                        </div>
                        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="wint1">@ViewBag.TitleOperations["QualityControlMethod"]</label>
                        <textarea class='form-control form-control-line detailtextarea' id="QualityControlMethod" name="QualityControlMethod">@Model.Operations.QualityControlMethod</textarea>

                    </div>
                </div>

            </div>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "Needsoftware").FirstOrDefault().QuestionText : "" )  </label>
                                    @Html.DropDownList("Needsoftware", new SelectList(ViewBag.Choice, "ID", "Value", @Model.Operations.Needsoftware), "- Please select -", new { @class = "custom-select col-12 jsOptionChange", @data_optionchange = "SoftwareType" })



                                </div>
                                <div class='form-group SoftwareType @(Model.Operations.Needsoftware.ToString() == "7f5d70c1-5e5b-4411-a05c-224976e6feff" ? "" : "hide")'>

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "SoftwareType").FirstOrDefault().QuestionText : "" )  </label>
                                    <textarea class='form-control ideatextarea' id="SoftwareType" name="SoftwareType" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "SoftwareType").FirstOrDefault().PlaceHolderText : "" )">@Model.Operations.SoftwareType</textarea>



                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "StaffCount").FirstOrDefault().QuestionText : "" )  </label>
                                    <input type="text" class='form-control' id="StaffCount" name="StaffCount" value="@Model.Operations.StaffCount" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "StaffCount").FirstOrDefault().PlaceHolderText : "" )" />

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "StaffCountNextYear").FirstOrDefault().QuestionText : "" )  </label>
                                    <input type="text" class='form-control' id="StaffCountNextYear" name="StaffCountNextYear" value="@Model.Operations.StaffCountNextYear" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "StaffCountNextYear").FirstOrDefault().PlaceHolderText : "" ) " />

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "HaveInsurance").FirstOrDefault().QuestionText : "" )  </label>
                                    @Html.DropDownList("HaveInsurance", new SelectList(ViewBag.Choice, "ID", "Value", @Model.Operations.HaveInsurance), "- Please select -", new { @class = "custom-select col-12 jsOptionChange", @data_optionchange = "InsuranceType" })

                                </div>
                                <div class='form-group jsEquipmentSoftware InsuranceType @(Model.Operations.HaveInsurance.ToString() == "7f5d70c1-5e5b-4411-a05c-224976e6feff" ? "" : "hide") '>
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "InsuranceType").FirstOrDefault().QuestionText : "" )  </label>
                                    <textarea class='form-control ideatextarea' id="InsuranceType" name="InsuranceType" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "InsuranceType").FirstOrDefault().PlaceHolderText : "" )">@Model.Operations.InsuranceType</textarea>



                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "NeedLicense").FirstOrDefault().QuestionText : "" )  </label>
                                    @Html.DropDownList("NeedLicense", new SelectList(ViewBag.Choice, "ID", "Value", @Model.Operations.NeedLicense), "- Please select -", new { @class = "custom-select col-12 jsOptionChange", @data_optionchange = "LicenseType" })

                                </div>
                                <div class='form-group jsEquipmentSoftware LicenseType @(Model.Operations.NeedLicense.ToString() == "7f5d70c1-5e5b-4411-a05c-224976e6feff" ? "" : "hide") '>
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "LicenseType").FirstOrDefault().QuestionText : "" )  </label>
                                    <textarea class='form-control ideatextarea' id="LicenseType" name="LicenseType" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "LicenseType").FirstOrDefault().PlaceHolderText : "" )">@Model.Operations.LicenseType</textarea>



                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "NeedQualification").FirstOrDefault().QuestionText : "" )  </label>
                                    @Html.DropDownList("NeedQualification", new SelectList(ViewBag.Choice, "ID", "Value", @Model.Operations.NeedQualification), "- Please select -", new { @class = "custom-select col-12 jsOptionChange", @data_optionchange = "QualificationType" })

                                </div>
                                <div class='form-group jsEquipmentSoftware QualificationType  @(Model.Operations.NeedQualification.ToString() == "7f5d70c1-5e5b-4411-a05c-224976e6feff" ? "" : "hide")'>
                                    <label for="wint1">@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "QualificationType").FirstOrDefault().QuestionText : "" )  </label>
                                    <textarea class='form-control ideatextarea' id="QualificationType" name="QualificationType" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "QualificationType").FirstOrDefault().QuestionText : "" )">@Model.Operations.QualificationType</textarea>



                                </div>
                            </div>

                        </div>

                    </section>
                </form>
            </div>
        </div>
    </div>

</div>






