@using Business_Model.Model;
@using System.ComponentModel;
@model Business_Model.Model.RunningBusiness

<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <div class="row " style="margin: 0 0px 2px;">
                    <div class="col-md-5 align-self-center">
                        <h4 class="card-title" id="1"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "Business", ActionName = "RunningBusiness", ModuleName = Module.TheBusiness, SectionName = ModuleSection.TheBusiness_RunningtheBusiness}, new { @class = "" })
                        </div>
                    </div>
                </div>
                <form id="frm_RunningBusiness" method="post" class="validation-wizard wizard-circle">

                    <input type="hidden" id="jsonModel" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
                    <input type="hidden" id="EntityState" name="EntityState" value="@Model.EntityState" />
                    <input type="hidden" id="RunningBusinessID" name="RunningBusinessID" value="@Model.RunningBusinessID" />
                    <input type="hidden" id="IsRedirect" value='@(Model.RunningBusinessID == Guid.Empty ? "true" : "false")' />
                    @*<input type="hidden" id="ProgressValue" name="ProgressValue" value="@Model.ProgressValue" />*@
                    <!-- Step 1 -->
                    <h6>Operations</h6>
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBProducedID"]</label>
                                    @Html.DropDownList("RBProducedID", new SelectList(ViewBag.ProductServiceProduced, "ID", "Value", @Model.RBProducedID), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBDeliveryMethodID"]</label>
                                    @Html.DropDownList("RBDeliveryMethodID", new SelectList(ViewBag.DeliveryMethod, "ID", "Value", @Model.RBDeliveryMethodID), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBThirdPartyInvovedID"]</label>
                                    @Html.DropDownList("RBThirdPartyInvovedID", new SelectList(ViewBag.ThirdPartiesInvloved, "ID", "Value", @Model.RBThirdPartyInvovedID), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBPaymentMethodID"]</label>
                                    @Html.DropDownList("RBPaymentMethodID", new SelectList(ViewBag.PaymentMethod, "ID", "Value", @Model.RBPaymentMethodID), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1"> @ViewBag.OperationTitle["RBQualityControlMethod"] </label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.RBQualityControlMethod != null ? "progress-percent" : "")' id="RBQualityControlMethod" name="RBQualityControlMethod" oninput="auto_grow_idea_textarea(this)">@Model.RBQualityControlMethod</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBStaffWorkID"]</label>
                                    @Html.DropDownList("RBStaffWorkID", new SelectList(ViewBag.StaffWork, "ID", "Value", @Model.RBStaffWorkID), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBHaveEquipmentSoftware"]</label>
                                    @Html.DropDownList("RBHaveEquipmentSoftware", new SelectList(ViewBag.Choice, "ID", "Value", @Model.RBHaveEquipmentSoftware), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                                <div class='form-group jsEquipmentSoftware @(Model.RBHaveEquipmentSoftware == 1 ? "" : "hide")'>
                                    <label for="wint1">@ViewBag.OperationTitle["RBEquipmentSoftware"]</label>
                                    <input type="text" class='form-control  progress-required' id="RBEquipmentSoftware" name="RBEquipmentSoftware" value="@Model.RBEquipmentSoftware">


                                </div>
                            </div>

                        </div>




                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBStaffNumber"]</label>
                                    <input type="text" class='form-control  progress-required' id="RBStaffNumber" name="RBStaffNumber" value="@Model.RBStaffNumber">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBStaffNumberNextYear"]</label>
                                    <input type="text" class='form-control  progress-required' id="RBStaffNumberNextYear" name="RBStaffNumberNextYear" value="@Model.RBStaffNumberNextYear">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBThirdPartyInvovedID"]</label>
                                    @Html.DropDownList("RBThirdPartyInvovedID", new SelectList(ViewBag.ThirdPartiesInvloved, "ID", "Value", @Model.RBThirdPartyInvovedID), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBHaveInsurance"]</label>
                                    @Html.DropDownList("RBHaveInsurance", new SelectList(ViewBag.Choice, "ID", "Value", @Model.RBHaveInsurance), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBNeedSpecificLicense"]</label>
                                    @Html.DropDownList("RBNeedSpecificLicense", new SelectList(ViewBag.Choice, "ID", "Value", @Model.RBNeedSpecificLicense), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.OperationTitle["RBNeedSpecificeQualification"]</label>
                                    @Html.DropDownList("RBNeedSpecificeQualification", new SelectList(ViewBag.Choice, "ID", "Value", @Model.RBNeedSpecificeQualification), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>



                    </section>
                </form>
            </div>
        </div>
    </div>



</div>


