@using System.ComponentModel;
@model Business_Model.Model.ProductService
@{
    var LanguageList = ViewBag.Language as IEnumerable<Business_Model.Model.LanguageModule>;
    var QuestionList = ViewBag.ModuleQustionVideo as IEnumerable<Business_Model.Model.QuestionVideo>;

}
<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <div class="row " style="margin: 0 0px 2px;">
                    <div class="col-md-5 align-self-center">
                        <h4 class="card-title" id="1"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "Business", ActionName = "ProductService", ModuleID = (int)Business_Model.Model.Module.TheBusiness, SectionID = (int)Business_Model.Model.ModuleSection.TheBusiness_ProductorService }, new { @class = "" })
                        </div>
                    </div>
                </div>
                <form id="frm_ProductService" method="post" class="validation-wizard wizard-circle patch">

                    <input type="hidden" id="jsonModel" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
                    <input type="hidden" id="EntityState" name="EntityState" value="@Model.EntityState" />
                    <input type="hidden" id="ProductServiceID" name="ProductServiceID" value="@Model.ProductServiceID" />
                    <input type="hidden" id="IsRedirect" value='@(Model.ProductServiceID == Guid.Empty ? "true" : "false")' />

                    <!-- Step 1 -->
                    <h6>About Product</h6>
                    <section>


                        <div class="row">

                            <div class="col-md-12">


                                <div class="form-group">
                                    @{ var arrayPSSelling = String.IsNullOrEmpty(@Model.AboutProduct.PSSelling) == false ? @Model.AboutProduct.PSSelling.Split(',').ToArray() : new string[0];
                                                                    
                                    }
                                    }
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSSelling").FirstOrDefault().QuestionText : "" )
                                        @{
                                            string VideoUrl = QuestionList.Where(x => x.PropertyName == "PSSelling").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }

                                        </label>
                                    <input type="hidden" id="PSSelling" name="PSSelling" />
                                    @foreach (var item in ViewBag.ProductServiceSelling)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@item.ID" name="_PSSelling" value="@item.ID" @(Array.Exists(arrayPSSelling, x => x == Convert.ToString(item.ID)) == true ? "checked=Checked" : "")>
                                            <label class="custom-control-label" for="@item.ID">@item.Value</label>
                                        </div>


                                    }
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSDescription").FirstOrDefault().QuestionText : "" )
                                        @{
                                             VideoUrl = QuestionList.Where(x => x.PropertyName == "PSDescription").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }
                                    </label>

                                    <textarea class='form-control ideatextarea' id="PSDescription" name="PSDescription" oninput="auto_grow_idea_textarea(this)" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSDescription").FirstOrDefault().PlaceHolderText : "" )">@Model.AboutProduct.PSDescription</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group">
                                    @{ var arrayPSProduce = String.IsNullOrEmpty(@Model.AboutProduct.PSProduce) == false ? @Model.AboutProduct.PSProduce.Split(',').ToArray() : new string[0]; }

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSProduce").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSProduce").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label>
                                    <input type="hidden" id="PSProduce" name="PSProduce" />
                                    @foreach (var item in ViewBag.ProductServiceProduce)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@item.ID" name="_PSProduce" value="@item.ID" @(Array.Exists(arrayPSProduce, x => x == Convert.ToString(item.ID)) == true ? "checked=Checked" : "")>
                                            <label class="custom-control-label" for="@item.ID">@item.Value</label>
                                        </div>


                                    }
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSDevelopStart").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSDevelopStart").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label>

                                    <textarea class='form-control ideatextarea' id="PSDevelopStart" name="PSDevelopStart" oninput="auto_grow_idea_textarea(this)" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSDevelopStart").FirstOrDefault().PlaceHolderText : "" )">@Model.AboutProduct.PSDevelopStart</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSReadylaunch").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSReadylaunch").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label>

                                    <textarea class='form-control ideatextarea' id="PSReadylaunch" name="PSReadylaunch" oninput="auto_grow_idea_textarea(this)" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSReadylaunch").FirstOrDefault().PlaceHolderText : "" )">@Model.AboutProduct.PSReadylaunch</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSVariations").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSVariations").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label>
                                    <textarea class='form-control ideatextarea' id="PSVariations" name="PSVariations" oninput="auto_grow_idea_textarea(this)" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSVariations").FirstOrDefault().PlaceHolderText : "" )">@Model.AboutProduct.PSVariations</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSHaveIPAddress").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSHaveIPAddress").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }
                                    </label>

                                    @Html.DropDownList("PSHaveIPAddress", new SelectList(ViewBag.Choice, "ID", "Value", @Model.AboutProduct.PSHaveIPAddress), "- Please select -", new { @class = "custom-select col-12 jsOptionChange", @data_optionchange = "PSIPAddress" })


                                </div>
                                <div class='form-group PSIPAddress  @(string.IsNullOrEmpty(@Model.AboutProduct.PSIPAddress) ? "hide" :"") '>

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSIPAddress").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSIPAddress").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label>
                                    <input type="text" class='form-control' id="PSIPAddress" name="PSIPAddress" value="@Model.AboutProduct.PSIPAddress" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSIPAddress").FirstOrDefault().PlaceHolderText : "" )">


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSHaveTradeMark").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSHaveTradeMark").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label>
                                    @Html.DropDownList("PSHaveTradeMark", new SelectList(ViewBag.Choice, "ID", "Value", @Model.AboutProduct.PSHaveTradeMark), "- Please select -", new { @class = "custom-select col-12 jsOptionChange", @data_optionchange = "PSTradeMark" })


                                </div>
                                <div class='form-group PSTradeMark @(string.IsNullOrEmpty(@Model.AboutProduct.PSTradeMark) ? "hide" :"")'>

                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSTradeMark").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSTradeMark").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }
                                    </label>
                                    <input type="text" class='form-control' id="PSTradeMark" name="PSTradeMark" value="@Model.AboutProduct.PSTradeMark" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSTradeMark").FirstOrDefault().PlaceHolderText : "" )">


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "PSHaveTechnologyRoadMap").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "PSHaveTechnologyRoadMap").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label>

                                    @Html.DropDownList("PSHaveTechnologyRoadMap", new SelectList(ViewBag.Choice, "ID", "Value", @Model.AboutProduct.PSHaveTechnologyRoadMap), "- Please select -", new { @class = "custom-select col-12 jsOptionChange", @data_optionchange = "versionlist" })


                                </div>
                            </div>

                        </div>

                        <div class='jsTechnologyRoadMapContainer versionlist'>
                            <div class="row jsTechnologyRoadMap">
                                <div class="col-md-11">
                                    <div class="form-group"> <input type="text" class="form-control jsVersion progress-required" placeholder="Version" value='@(ViewBag.VersionList.Count > 0 ? ViewBag.VersionList[0] : "" )'> </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="input-group mb-3">
                                        <div class="input-group-append"> <button class="btn btn-secondary btn-outline bootstrap-touchspin-up jsAdd" type="button">+</button> </div>
                                    </div>
                                </div>
                            </div>
                            @for (int i = 1; i < ViewBag.VersionList.Count; i++)
                            {
                                <div class="row jsTechnologyRoadMap">
                                    <div class="col-md-11">
                                        <div class="form-group"> <input type="text" class="form-control jsVersion progress-required" placeholder="Version" value="@ViewBag.VersionList[i]"> </div>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="input-group mb-3">
                                            <div class="input-group-append"> <button class="btn btn-secondary btn-outline bootstrap-touchspin-up jsRemove" type="button">-</button> </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>MVP</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "MVPDevelopmentFarID").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "MVPDevelopmentFarID").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }

                                    </label>

                                    @{ var arrayFinanceOperationalResponsible = String.IsNullOrEmpty(@Model.MVP.MVPDevelopmentFarID) == false ? @Model.MVP.MVPDevelopmentFarID.Split(',').ToArray() : new string[0]; }
                                    <select id="MVPDevelopmentFarID" name="MVPDevelopmentFarID" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.DevelopmentFarList)
                                        {
                                            <option value="@item.ID" @(Array.Exists(arrayFinanceOperationalResponsible, x => x == Convert.ToString(item.ID)) == true ? "selected" : "")>@item.Value</option>
                                        }

                                    </select>


                                </div>

                                @*<div class="form-group">
                        <label for="wint1">@ViewBag.DisplayMVP["MVPDevelopmentFarID"]</label>
                        @Html.DropDownList("MVPDevelopmentFarID", new SelectList(ViewBag.DevelopmentFarList, "ID", "Value", @Model.MVP.MVPDevelopmentFarID), "- Please select -", new { @class = "custom-select col-12" })


                    </div>*@
                                @*<div class='form-group jsMVPHavePrototype @(Model.MVP.MVPHavePrototype == 1 ? "" : "hide")'>
                        <label for="wint1">@ViewBag.DisplayMVP["MVPPrototype"]</label>
                        <input type="text" class='form-control  progress-required' id="MVPPrototype" name="MVPPrototype" value="@Model.MVP.MVPPrototype">


                    </div>*@
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "MVPCreate").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "MVPCreate").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }
                                    </label>

                                    <textarea class='form-control ideatextarea' id="MVPCreate" name="MVPCreate" oninput="auto_grow_idea_textarea(this)" placeholder="@( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "MVPCreate").FirstOrDefault().PlaceHolderText : "" )">@Model.MVP.MVPCreate</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="wint1">
                                        @( LanguageList.Count() > 0 ? LanguageList.Where(x => x.PropertyName == "MVPReasonID").FirstOrDefault().QuestionText : "" )
                                        @{
                                            VideoUrl = QuestionList.Where(x => x.PropertyName == "MVPReasonID").FirstOrDefault().VideoUrl;
                                            if (!string.IsNullOrEmpty(VideoUrl))
                                            {
                                                <i class="fas fa-video jsQuestionVideo" data-videourl="@VideoUrl" style="font-size: 14px; color: #c4302b; cursor:pointer"></i>

                                            }
                                        }
                                    </label>

                                    @Html.DropDownList("MVPReasonID", new SelectList(ViewBag.MVPReason, "ID", "Value", @Model.MVP.MVPReasonID), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>




                    </section>

                </form>
            </div>
        </div>
    </div>



</div>


