@using Business_Model.Model;
@using System.ComponentModel;
@model Business_Model.Model.ProductService

<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <div class="row " style="margin: 0 0px 2px;">
                    <div class="col-md-5 align-self-center">
                        <h4 class="card-title" id="1"></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "Business", ActionName = "ProductService", ModuleName = Module.TheBusiness, SectionName = ModuleSection.TheBusiness_ProductorService }, new { @class = "" })
                        </div>
                    </div>
                </div>
                <form id="frm_ProductService" method="post" class="validation-wizard wizard-circle">

                    <input type="hidden" id="jsonModel" value='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))' />
                    <input type="hidden" id="EntityState" name="EntityState" value="@Model.EntityState" />
                    <input type="hidden" id="ProductServiceID" name="ProductServiceID" value="@Model.ProductServiceID" />
                    @*<input type="hidden" id="ProgressValue" name="ProgressValue" value="@Model.ProgressValue" />*@
                    <!-- Step 1 -->
                    <h6>About Product</h6>
                    <section>


                        <div class="row">

                            <div class="col-md-12">


                                <div class="form-group">
                                    @{ var arrayPSSelling = String.IsNullOrEmpty(@Model.AboutProduct.PSSelling) == false ? @Model.AboutProduct.PSSelling.Split(',').ToArray() : new string[0]; }
                                    <label for="wint1">  @ViewBag.DisplayAboutProduct["PSSelling"]  </label>
                                    <input type="hidden" id="PSSelling" name="PSSelling" />
                                    @foreach (var item in ViewBag.ProductServiceSelling)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@item.ID" name="_PSSelling" value="@item.ID" @(Array.Exists(arrayPSSelling, x => x == Convert.ToString(item.ID)) == true ? "checked=Checked" : "")>
                                            <label class="custom-control-label" for="@item.ID">@item.Value</label>
                                        </div>


                                    }
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1"> @ViewBag.DisplayAboutProduct["PSDescription"] </label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.AboutProduct.PSDescription != null ? "progress-percent" : "")' id="PSDescription" name="PSDescription" oninput="auto_grow_idea_textarea(this)">@Model.AboutProduct.PSDescription</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group">
                                    @{ var arrayPSProduce = String.IsNullOrEmpty(@Model.AboutProduct.PSProduce) == false ? @Model.AboutProduct.PSProduce.Split(',').ToArray() : new string[0]; }
                                    <label for="wint1">  @ViewBag.DisplayAboutProduct["PSProduce"]  </label>
                                    <input type="hidden" id="PSProduce" name="PSProduce" />
                                    @foreach (var item in ViewBag.ProductServiceProduce)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@item.ID" name="_PSProduce" value="@item.ID" @(Array.Exists(arrayPSProduce, x => x == Convert.ToString(item.ID)) == true ? "checked=Checked" : "")>
                                            <label class="custom-control-label" for="@item.ID">@item.Value</label>
                                        </div>


                                    }
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayAboutProduct["PSDevelopStart"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.AboutProduct.PSDevelopStart != null ? "progress-percent" : "")' id="PSDevelopStart" name="PSDevelopStart" oninput="auto_grow_idea_textarea(this)">@Model.AboutProduct.PSDevelopStart</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayAboutProduct["PSReadylaunch"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.AboutProduct.PSReadylaunch != null ? "progress-percent" : "")' id="PSReadylaunch" name="PSReadylaunch" oninput="auto_grow_idea_textarea(this)">@Model.AboutProduct.PSReadylaunch</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayAboutProduct["PSVariations"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.AboutProduct.PSVariations != null ? "progress-percent" : "")' id="PSVariations" name="PSVariations" oninput="auto_grow_idea_textarea(this)">@Model.AboutProduct.PSVariations</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayAboutProduct["PSHaveIPAddress"]</label>
                                    @Html.DropDownList("PSHaveIPAddress", new SelectList(ViewBag.Choice, "ID", "Value", @Model.AboutProduct.PSHaveIPAddress), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                                <div class='form-group jsPSIPAddress @(Model.AboutProduct.PSHaveIPAddress == 1 ? "" : "hide")'>
                                    <label for="wint1">@ViewBag.DisplayAboutProduct["PSIPAddress"]</label>
                                    <input type="text" class='form-control  progress-required' id="PSIPAddress" name="PSIPAddress" value="@Model.AboutProduct.PSIPAddress">


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayAboutProduct["PSHaveTradeMark"]</label>
                                    @Html.DropDownList("PSHaveTradeMark", new SelectList(ViewBag.Choice, "ID", "Value", @Model.AboutProduct.PSHaveTradeMark), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                                <div class='form-group jsPSTradeMark  @(Model.AboutProduct.PSHaveTradeMark == 1 ? "" : "hide")'>
                                    <label for="wint1">@ViewBag.DisplayAboutProduct["PSTradeMark"]</label>
                                    <input type="text" class='form-control  progress-required' id="PSTradeMark" name="PSTradeMark" value="@Model.AboutProduct.PSTradeMark">


                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayAboutProduct["PSHaveTechnologyRoadMap"]</label>
                                    @Html.DropDownList("PSHaveTechnologyRoadMap", new SelectList(ViewBag.Choice, "ID", "Value", @Model.AboutProduct.PSHaveTechnologyRoadMap), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>

                        <div class='jsTechnologyRoadMapContainer  @(Model.AboutProduct.PSHaveTechnologyRoadMap == 1 ? "" : "hide" )'>
                            <div class="row jsTechnologyRoadMap">
                                <div class="col-md-11">
                                    <div class="form-group"> <input type="text" class="form-control jsVersion progress-required" placeholder="Version" value='@(ViewBag.VersionList.Count > 0 ? ViewBag.VersionList[0] : "" )'> </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="input-group mb-3">
                                        <div class="input-group-append"> <button class="btn btn-secondary btn-outline bootstrap-touchspin-up jsAdd" type="button">+</button> </div>
                                    </div>
                                </div>
                            </div>
                            @for (int i = 1; i < ViewBag.VersionList.Count; i++)
                            {
                                <div class="row jsTechnologyRoadMap">
                                    <div class="col-md-11">
                                        <div class="form-group"> <input type="text" class="form-control jsVersion progress-required" placeholder="Version" value="@ViewBag.VersionList[i]"> </div>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="input-group mb-3">
                                            <div class="input-group-append"> <button class="btn btn-secondary btn-outline bootstrap-touchspin-up jsRemove" type="button">-</button> </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>MVP</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayMVP["MVPDevelopmentFarID"]</label>
                                    @{ var arrayFinanceOperationalResponsible = String.IsNullOrEmpty(@Model.MVP.MVPDevelopmentFarID) == false ? @Model.MVP.MVPDevelopmentFarID.Split(',').ToArray() : new string[0]; }
                                    <select id="MVPDevelopmentFarID" name="MVPDevelopmentFarID" class="selectpicker" multiple data-style="form-control btn-secondary" data-dropup-auto="false">
                                        @foreach (var item in ViewBag.DevelopmentFarList)
                                        {
                                            <option value="@item.ID" @(Array.Exists(arrayFinanceOperationalResponsible, x => x == Convert.ToString(item.ID)) == true ? "selected" : "")>@item.Value</option>
                                        }

                                    </select>


                                </div>

                                @*<div class="form-group">
                                        <label for="wint1">@ViewBag.DisplayMVP["MVPDevelopmentFarID"]</label>
                                        @Html.DropDownList("MVPDevelopmentFarID", new SelectList(ViewBag.DevelopmentFarList, "ID", "Value", @Model.MVP.MVPDevelopmentFarID), "- Please select -", new { @class = "custom-select col-12" })


                                    </div>*@
                                @*<div class='form-group jsMVPHavePrototype @(Model.MVP.MVPHavePrototype == 1 ? "" : "hide")'>
                                        <label for="wint1">@ViewBag.DisplayMVP["MVPPrototype"]</label>
                                        <input type="text" class='form-control  progress-required' id="MVPPrototype" name="MVPPrototype" value="@Model.MVP.MVPPrototype">


                                    </div>*@
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayMVP["MVPCreate"]</label>
                                    <textarea class='form-control ideatextarea progress-required @( Model.MVP.MVPCreate != null ? "progress-percent" : "")' id="MVPCreate" name="MVPCreate" oninput="auto_grow_idea_textarea(this)">@Model.MVP.MVPCreate</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="wint1">@ViewBag.DisplayMVP["MVPReasonID"]</label>
                                    @Html.DropDownList("MVPReasonID", new SelectList(ViewBag.MVPReason, "ID", "Value", @Model.MVP.MVPReasonID), "- Please select -", new { @class = "custom-select col-12" })


                                </div>
                            </div>

                        </div>




                    </section>

                </form>
            </div>
        </div>
    </div>



</div>


