
@using Business_Model.Model;
@model  IEnumerable<ClientTeam>
@using System.Configuration;
@section PageStyle
{
    <link href="~/assets/node_modules/jquery-confirm/jquery-confirm.css" rel="stylesheet" />
    <link href="~/assets/node_modules/draggable-resizable-modal/css/modalbox.css" rel="stylesheet" />

    <style>
        .dz-error-mark {
            background: #b10429;
            display: inline-block;
            padding: 5px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: #fff;
        }

        .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
            display: block;
            max-width: 100%;
            height: 110px !important;
            margin: 0px auto;
        }

        #imagepreview {
            height: 120px;
            border: 1px solid #3b3838;
            width: 90%;
            text-align: center;
        }

        .img-thumbnail {
            height: 210px;
        }
    </style>
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Team</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">The Business</li>
                <li class="breadcrumb-item active">Team</li>

            </ol>
            &nbsp;&nbsp;
            @if (Model.Count() > 0)
            {
                <a href="~/Team/Create" class="btn btn-info return">Add  </a>
            }
        </div>
    </div>
</div>
<div class="row " style="margin: 0 0px 2px;">
    <div class="col-md-5 align-self-center">
        <h4 class="card-title" id="1"></h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <i class="mdi mdi-arrow-left"></i>  @Html.ActionLink("Back to Overview", "Index", "ModuleCourse", new { ControllerName = "Team", ActionName = "Index", ModuleID = (int)Business_Model.Model.Module.TheBusiness, SectionID = (int)Business_Model.Model.ModuleSection.TheBusiness_Team }, new { @class = "" })

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="form-material">
            <label>Team Over view </label>
            <div class="form-group">

                <textarea class='form-control ideatextarea form-control-line progress-required' id="TeamInfo" name="TeamInfo" oninput="auto_grow_idea_textarea(this)" style="overflow-y: hidden;" placeholder="Please add Team overview">@(Model.Count() != 0 ? Model.FirstOrDefault().TeamInfo : "")</textarea>
            </div>
        </form>
    </div>

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {

            <div class="col-md-6 col-lg-6 col-xl-4 clientContainer ">
                <div class="card card-body">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3 text-center">
                            <a href="app-contact-detail.html"><img src="@ConfigurationManager.AppSettings["ClientBaseUrl"]/Content/Images/@(item.ImageID == null ? "profile-dummy.png" : item.ImageID)" width="90" alt="user" class="img-circle img-fluid"></a>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <h3 class="box-title m-b-0">@item.FirstName  @item.LastName </h3>
                            @{ var arrayRoles = String.IsNullOrEmpty(item.RoleInCompany) == false ? item.RoleInCompany.Split(',').ToArray() : new string[0];
                                List<string> roleArray = new List<string>();
                            }
                            @foreach (var role in ViewBag.Role)
                            {
                                if (Array.Exists(arrayRoles, x => x == Convert.ToString(@role.ID)) == true)
                                {
                                    roleArray.Add(@role.Value);
                                }
                            }

                            @string.Join(", ", roleArray.ToArray())

                            <address>
                                <abbr title="Phone"><i class="fas fa-phone-square"></i></abbr> @item.Phone
                                <br />
                                <i class="icons-Email"></i> @item.Email
                                <br />
                                <i class="icons-Globe"></i> @item.CountryName <br />
                                <i class="icons-User"></i> @item.MemberType
                            </address>
                        </div>
                        <div class="col-md-12 text-right" style="font-size:19px">
                            <i class="fa fa-trash jsDeleteTeamMember" style="" data-clientid=" @item.ClientID"></i>
                            <a href="@item.LinkedProfile" title="linkedin"><i class="fab fa-linkedin"></i></a>

                            <a href="~/Team/Edit/@item.ClientID" target="_blank" title="update profile"><i class="icons-Pencil"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        }
    }
    else
    {

        <tr>
            <td colspan="7" style="height:100px; text-align:center; padding-top:50px">

                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card text-center">
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                            <h4 class="card-title">No Team Found</h4>
                            <p class="card-text">Your Team(s) will be added here.</p>

                            <a href="~/Team/Create" class="btn btn-info">Add </a>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>

            </td>
        </tr>
    }




</div>
<div id="myDialog3">
    <iframe id="cartoonVideo" width="100%" height="100%" src="@(ViewBag.Video != null ?  ViewBag.Video.VideoUrl : "")" auto frameborder="0" allowfullscreen></iframe>
</div>

@section PageScript
{
    <script src="~/assets/node_modules/draggable-resizable-modal/js/modalbox.js"></script>
    <script src="@Url.ContentVersioned("~/page_script/team.js")"></script>

    <script>
        var showMessage = "Temporayfor someytime";
        $("#myDialog3").myOwnDialog(
            {
                autoClose: false,
                width: "400",
                pos_y: "50",
                height: "300",
                bg_color: 'white',
                title: '@(ViewBag.Video != null ?  ViewBag.Video.Title : "")',
                body_margin:  '@(ViewBag.Video != null ?  ViewBag.Video.Duration : "")',
                body_overflow_x: "hidden",
                body_overflow_y: "scroll",
                movable: true,
                resizable: true,
                touchOutsideForClose: false
            });

    </script>

    <script>setTimeout(function () { $("#myDialog3").myOwnDialog("open"); }, 1000);</script>
}
